#clientsInfo  tr:nth-of-type(odd) { 
  background: #eee; 
}

#adminsInfo  tr:nth-of-type(odd) { 
  background: #eee; 
}


@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {

}