<div id="userList" class="container col-md-8 col-md-push-3 col-md-pull-1 col-xs-7 col-xs-push-4 col-xs-pull-1 headSpace">
   <div class="panel panel-info" ng-controller="Admin">
      <div class="clearfix panel panel-heading" >
         <span>
            <span class="fa fa-users"> </span> USERS INFORMATION 
         </span>
         <div class="aright">{{date|date:'medium'}}</div>
      </div>
      <div class="panel-body small">
         <div class="menu">
            <div class="col-md-4 text-center col-xs-7">
               <span class="fa fa-users"></span> Users
            </div>
            <div class="col-md-6 col-xs-3 whitespace">
               &nbsp<span class="fa fa-calendar-o" title="time for signing up"></span><span class="hidden-xs"> Sign up</span>
            </div>
            <div class="col-md-2 col-xs-2 whitespace text-center">
               <span class="fa fa-ticket" title="account validation"></span> <span class="hidden-xs"> Validation</span>
            </div>
            <!--<div class="col-md-4">Registered</div>
            <div class="col-md-3">URI</div>
            <div class="col-md-4">Jobs</div>-->
         </div>
         <hr>
         <div ng-repeat="u in users = (users|values)|paginate: page: perpage" class="space">
            <div class="col-md-4 col-xs-7">
               <button type="button" class="btn-default btn-block aleft text-muted">               
                  <span>
                     <i class="fa fa-user"></i>{{u.email}}
                  </span>
               </button>
            </div>
            <div class="col-md-6 col-xs-3">{{u.registerMoment|lidisplay}}</div>
            <div role="progressbar" ng-class="color[u.validated]" class="col-md-2 col-xs-2 text-center">{{u.validated|yorn}}</div>
            <!--<div class="col-md-4">{{u.registerTime}}</div>
            <div class="col-md-3">{{u.history}}</div>
            <div class="col-md-4">{{u.jobs}}</div>-->
         </div>
      </div>
      <div class="clearfix panel panel-footer">
         <div class="btn-group input-group col-xs-3 text-left pull-left">
           <button ng-click="getUsers()" title="Refresh" class="btn btn-default">
              <i class="fa fa-refresh"></i>
           </button>
         </div>
      </div>
   </div>
   <!--panel for admin list-->
   <div class="panel panel-info" ng-controller="Admin">
      <div class="clearfix panel panel-heading">
        <span class="fa fa-users"></span> ADMIN INFORMATION
      </div>
      <div class="panel panel-body">
        <div ng-repeat = "u in administrators">
          <div class="fa fa-user col-md-12"> {{u}}</div>
        </div>
      </div>
      <div class="clearfix panel panel-footer">
          <div class="btn-group input-group col-xs-3 text-left pull-left">
           <button ng-click="getAdministrators()" title="Refresh" class="btn btn-default">
              <i class="fa fa-refresh"></i>
           </button>
         </div>
      </div>
   </div>
</div>
