<!-- Ask a user to click through to an OAuth page. -->
<div class="text-center">
  <h3>This endpoint requires authentication</h3>

  <!-- Show buttons for whatever authentication options are allowed. -->
  <h4 ng-repeat="o in error.options" ng-switch="o">
    <a ng-switch-when="oauth" class="btn btn-lg btn-info"
       ng-click="openOAuth('/api/stork/oauth?type=dropbox')">
      <i class="large fa fa-dropbox"></i>
      Authenticate with Dropbox
    </a>
    <a ng-switch-when="gss" class="btn btn-lg btn-info"
       ng-click="end.credential = {type: 'gss'}; credModal('gss')">
      <i class="large fa fa-key"></i>
      Authenticate with MyProxy
    </a>
    <a ng-switch-when="userinfo" class="btn btn-lg btn-warning"
       ng-click="end.credential = {type: 'userinfo'}; credModal('userinfo')">
      <i class="large fa fa-key"></i>
      Authenticate with password
    </a>
  </h4>

  <!-- Always suggest using an existing credential. -->
  <h4>
    <a class="btn btn-lg btn-info" ng-click="credModal('savedCred')">
      <i class="large fa fa-key"></i> Use saved credential
    </a>
  </h4>
</div>
