<form name="resetForm" class="begin-password-reset" ng-controller="User" ng-submit="promise = findPassword(user, $hide)">
  <div class="modal-body" >
    <div class="form-group col-sm-push-3 col-sm-6">
      <input name="email" id="reset-email" placeholder="Enter your email." type="email" class="form-control" ng-model="user.email" focus-me required >
      </input>
      <div ng-if="debugMode" class="panel-body text-center">
        <pre>{{user}}</pre>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="text-center modal-footer ">
    <button ng-click="$hide()" type="button" class="btn btn-default">
      Cancel
    </button>
    <button type="submit" class="btn btn-primary" ng-cloak ng-disabled="!user.email||resetForm.email.$error.email">
      Search
    </button>    
  </div>
</form>
