<form class="login-form" ng-controller="User" ng-submit="promise = login(user, $hide)">
  <div class="alert alert-danger" ng-if="error" ng-bind="error.error"></div>
  <div class="form-group">
    <label for="login-email" class="sr-only">Email</label>
    <input id="login-email" class="form-control" ng-model="user.email" type="text" placeholder="Email" focus-me>
  </div>
  <div class="form-group">
    <label for="login-password" class="sr-only">Password</label>
    <input id="login-password" class="form-control" ng-model="user.password" placeholder="Password" type="password">
    &nbsp&nbsp <a class="forgotPW" ng-click="findPassword(null)" ng-cloak> Forgot password?</a>
    |<a class="validationMailLost" ng-click="findAccount(null)" > Validation Mail Lost?</a>
  </div> 
  </div>
  <div class="text-center">
    <button class="btn btn-primary" ng-disabled="!user.email || !user.password" type="submit">
      Log in
    </button>
  </div>
  <div cg-busy="promise"></div>
</form>


