<div class="container panel-group" >
  <div class="panel panel-default" bs-collapse>
    <div class="panel-heading">
      <h4 class="panel-title"><a bs-collapse-toggle>Profile Information</a></h4>
    </div>

    <div id="transfer-options" class="panel-collapse" bs-collapse-target>
      <div class="panel-body">
        <h4>Change Password</h4>
        <form class="form-group"
              ng-submit="changePassword(oldPass, newPass, newPass2)">
          <span class="small help-block">
            New password must be at least six characters.
          </span>
          <div class="form-group">
            <label>
              Old Password
              <input placeholder="Enter old password" type="password"
                     required class="form-control" ng-model="oldPass">
            </label>
          </div>
          <div class="form-group">
            <label>
              New Password
              <input placeholder="Enter new password" type="password"
                     required class="form-control" ng-model="newPass">
            </label>
          </div>
          <div class="form-group">
            <label>
              <input placeholder="Confirm new password" type="password"
                     required class="form-control" ng-model="newPass2">
            </label>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <div ng-if="debugMode" class="panel-body container collapse in text-center">
          <pre>{{$user}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
