.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar_navbar{
  width: 100%;
}

.homepage_section{
  width: 100%;
  height: 800px;
  margin: 0px !important;
  background-size: auto 100%;
  background-position: right top;
}

.flexSpacebetween {
  display: flex;
  justify-content:"space-between"
}

.homePage {
  background: #579;
  padding-left: 15vw;
  padding-right: 15vw
}

.homePage > h1 {
  color: #ffffff;
  font-size: 4em;
  font-style: oblique;
  padding-top: 3vh;
}

.homePage > h1 ~ p {
  font-size: 2em;
  font-style: italic
}

.homeInfoSlice {
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.homeInfoSlice h2 {
  color: #d9eff6;
  font-size: 4em;
}

.homeInfoSlice h2 ~ p {
  font-size: 1.25em;
}