@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/************************************/
/*                                  */
/*    Comes with create-react-app   */
/*                                  */
/************************************/
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*******************************************/
/*                                         */
/*    Before revision and used on master   */
/*                                         */
/*******************************************/

.navbar_navbar{
  width: 100%;
}

.homepage_section{
  width: 100%;
  height: 800px;
  margin: 0px !important;
  background-size: auto 100%;
  background-position: right top;
}

.flexSpacebetween {
  display: flex;
}

/***************************/
/*                         */
/*    For the Entire App   */
/*                         */
/***************************/

.content {
  padding-top: 10vh;
}

.navbar {
}

button.defaultButton {
  background-color: white;
  font-size: 1.2em;
  text-transform: none;
  font-weight: normal;
}

/*********************************/
/*                               */
/*    For HomePageComponent.js   */
/*                               */
/*********************************/

div.homePage {
  /*background: #579;*/
  overflow: hidden;
  margin-top: -10vh;
}

.evenSlice {
  background-color: #ffffff;
}

.oddSlice {
  background-color: #F2F2F2;
}

/**************************************/
/*                                    */
/*    For HomePage/HomeInfoSlice.js   */
/*                                    */
/**************************************/

.HomeInfoSlice {
  /*padding-top: 2vh;*/
  /*padding-bottom: 2vh;*/
  padding: 2vh 15vw;
  /*background-color: #ffffff;*/
}

.HomeInfoSlice h2 {
  color: #172753;
  font-size: 3em;
  padding-bottom: 3vh;
}

.HomeInfoSlice p {
  font-size: 1.7em;
}

.homeImg{
  max-width: 100%;
  max-height: 30vh;
  object-fit: contain;
  margin: auto;

}

.leftHomeTxt {
  padding-right: 2.25vw;
}

.rightHomeTxt {
  padding-left: 2.25vw;
}

/*****************************************/
/*                                       */
/*    For HomePage/RecognitionSlice.js   */
/*                                       */
/*****************************************/

.RecognitionSlice {
  background-color: white;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.RecognitionSlice img {
  height: 10vh;
  width: auto;
  padding-left: 2vw;
  padding-right:2vw;
}

/***********************************/
/*                                 */
/*    For HomePage/TitleSlice.js   */
/*                                 */
/***********************************/

.TitleSlice {
  padding: 7vh 15vw;
  background-color: #172753;
}

.TitleSlice h1 {
  color: #ffffff;
  font-size: 5em;
  font-style: oblique;
  padding-top: 4.5vh;
}

.TitleSlice h1 ~ p {
  font-size: 2.5em;
  font-style: italic;
  color: #d9eff6;
}

/****************************************/
/*                                      */
/*    For HomePage/TripleIconSlice.js   */
/*                                      */
/****************************************/

.TripleIconSlice {
  padding: 0vh 15vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #172753;
}

.tripleContent h2 {
  font-size: 2em;
  color: #ffffff;
  text-align: center;
}

.tripleContent {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.iconTrio {
  max-height: 12vh;
  max-width: 80%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

/************************************/
/*                                  */
/*    For Queue/QueueComponent.js   */
/*                                  */
/************************************/
.QueueView {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 15vh;
}

tr {
  width: 100%;
  display: block;
}

th{
  min-width: 12vw;
  background-color: #d9edf7;
  word-wrap: normal;
}

.QueueHeaderCell * {
  color: #31708f;
  font-size: 2.25rem;
  font-weight: 500;
  text-align: center;
  margin: auto;
}

td * {
  width: auto;
  font-size: 1.2rem;
  align-self: stretch;
}

.MuiTablePagination * {
  font-size: 1.2rem;
  text-align: center;
}

tr * {
  font-size: 1.2rem;
}

.MuiTable-root {
  border-style: solid;
  border-width: 2px;
  border-color: #d9edf7;
}

.idCell{
  width: 2%;
  overflow-wrap: break-spaces;
}

.progressCell {
  width: 25%;
}

.speedCell {
  width: 5%;
}

.sourceCell {
  width: 48%;
}

.actionCell {
  width: 17%
}

.mobileCell {
  width: 150vw;
  table-layout: fixed;
  text-align: left;
}

tr {
  width: 100vw
}

.queueDropDown {
  margin: auto;
  padding-top: 2vh;
}
