body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.slick-arrow{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 45%;
	cursor:pointer;
}
.userDescThemeFont{
    font-size:0.9em !important;
}
.userDescValueFont{
    font-size:0.8em !important;
}
.slick-prev {
  left: 40px !important;
  z-index: 1;
}
.slick-next {
  right: 60px !important;
  z-index: 1;
}
.slick-prev:before, .slick-next:before  {
  content: '' !important;
}

.enter-from-right {
  width: 100%;
  -webkit-transition: transform 0.5s; /* For Safari 3.1 to 6.0 */
  transition: transform 0.5s;
  -webkit-transform: translateX(100%);
}

.enter-from-left {
  width: 100%;
  position: absolute !important;
  -webkit-transition: transform 0.5s; /* For Safari 3.1 to 6.0 */
  transition: transform 0.5s;
  -webkit-transform: translateX(-100%);
}

.slide-in{
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 1px;
    background: #00000000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #337ab7aa; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #337ab7; 
}

