
/* endpoints layout */
.endpoints {  
  padding-left: 10px;
  padding-top: 0 !important;
  font-size: 0.9em;
  white-space: normal;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: left;
}

@media all and (max-width: 750px) {
 .endpoints {
    padding-left: -2;
    font-size: 0.9em;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.endpoints span {
  white-space: nowrap;
}

/* panel heading */
.panel-heading {
  font-size: 0.8em;
  white-space: nowrap;
} .hidden-xs button {
  font-size: 1em !important;
  background: transparent;
  padding-left: 0px;
} .hidden-xs button .fa {
  font-size: 1em !important;
} .hidden-xs .vertical-center {
  padding-top: 6.5px;
}

/* panel heading for extra small screen */
.visible-xs button {
   background: transparent;
   font-weight: bold;
   color: #006699;
}

/* job detail panel */
.well dt {
  text-align: left;
}

/* part of panel body */
.visible-xs {
  white-space: nowrap;
}

/* footer */
@media all and (max-width: 568px) {
  /*.dropup button {
     font-size: 0.6em;
  }
 .pagination {
     white-space: nowrap; 
  }*/
  .panel-footer label {
     font-size: 0.8em;
    
  }
}

.pageinfo {
  padding-top: 0.5em;
  font-size:0.9em;
}
.pageinfo a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}
