html {
  overflow-y: scroll;
}

html, body {
  height: 100%;
}

* {
  border: 0 solid #888;
}

i {
  font: inherit;
}

a {
  cursor: pointer;
}

#banner-content.row {
    padding-top: 170px;
    padding-bottom: 100px;
}

#banner h1 {
    padding-top: 5%;
}

#banner .section-heading:before {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 30px;
}

.col-38 {
    width: 38.2%;
}

#banner-content.row {
        padding-top: 85px !important;
    }

.frontrow {
    max-width: 1245px;
    margin: 0 auto;
    padding: 75px 0;
    position: relative;
}

.banner-space {
    padding: 40px 0;
}

.colored-block {
        width: 100%;
        padding: 30px 0px;
        color: #fff;
    }
.blue { background: #607084; }
.gray { background: #646970; }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

textarea, input, button, select {
  background: #FFF;
  color: #333;
} textarea:focus, input:focus, select {
  background: #EFF;
  color: #000;
}

p {
  margin: 1em 0;
  text-align: justify;
}

.text-justify {
  text-align: justify;
}

.collapsing {
  overflow: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
} h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/* Certain things look nicer without a text selection cursor. */
h1, h2, h3, h4, h5, h6, .help-block {
  cursor: default;
}

.bullet-list li {
  list-style-type: disc;
}

.circle-button {
  padding: 0.2em;
}

.clearfix {
  display: block;
} .clearfix:after {
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
  content: "?";
}

/* General style classes */
.center { margin: auto; }

.aleft  { text-align: left; }
.aright { text-align: right; }
.acenter { text-align: center; }

.fleft  { float: left; }
.fright { float: right; }

.fl  { float: left; }
.fr { float: right; }

.fixed {
  position: fixed;
  z-index: 2;
}

.small { font-size: 80%; }
.large { font-size: 120%; }

.hfill, .bb {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
} .hfill {
  width: 100%;
}

.clipped {
  overflow: hidden;
}

.progress {
  position: relative;
  background: #333;
  height: 2em;
  line-height: 2em;
  margin: 0;
}

.progress-bar {
  z-index: 1;
  position: absolute;
}

.progress .progress-text {
  position: absolute;
  top: 0;
  z-index: 2;
  color: #FFF;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  width: 100%;
}

.resize-vertical {
  text-align: center;
  cursor: s-resize;
} .resize-vertical:before {
  content: "\f141";
  font-family: FontAwesome;
}

/* Displayed to a user who has scripting disabled. */
noscript.modal-backdrop {
  background: #444;
} #noscript {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  background: #E30;
  color: #FFF;
  text-shadow: 0 1px 2px #000;
  border-bottom: 1px solid #222;
  margin: 3em;
  padding: 1em;
  text-align: center;
  cursor: default;
} #noscript u {
  color: #BDF;
}

tr.min-cell {
  height: 1px;
}

.view.ng-enter {
  animation: fadeIn 0.2s;
} .view.ng-leave {
  animation: fadeOut 0.2s;
}

#wrapper {
  height: auto !important;
  min-height: 100%;
  margin: 0 auto -3em;
  padding: 70px 0 8em;
}

/* Dark background with light text. */
.dark {
  color: #AAA;
  background: #444;
}

/* Light background with dark text. */
.light {
  color: #333;
  background: #FFF;
}

.footer {
  text-align: center;
  height: 3.1em;
  bottom: 0;
} .footer > div {
  font-size: 80%;
  padding: 0.5em;
}

.login-panel {
  margin: 70px auto;
}

.welcome {
  text-align: left;
    padding-left: 13.8%;
} .welcome h1 {
  font-size: 45px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999;
  padding-right: 1em;
}

.sidebar-content {
  width: 250px;
}

.sidebar a {
  display: block;
  padding: 0.3em;
  color: #AAA;
}

.sidebar > .toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1em;
  box-shadow: -3px 0 6px #333;
}

.sidebar > .toggle > i {
  position: absolute;
  top: 50%;
  margin-top: -100%;
}

/*#stork-queue .endpoints {
  padding-left: 0;
  overflow-x: auto;
  overflow-y: hidden;
} #stork-queue .endpoints div {
  white-space: nowrap;
} #stork-queue .endpoints i {
  padding: 0 0.5em;
}*/

.transfer-wrapper {
  margin: auto;
  width: 90%;
} .transfer-wrapper #left {
  width: 45%;
  float: left;
} .transfer-wrapper #right {
  width: 45%;
  float: right;
}

#stork-ls .transfer-controls {
  padding: 10px;
} #stork-ls .transfer-controls .btn {
  height: 3em;
  margin: 10px 0;
} #stork-ls .transfer-toolbar {
  padding: 5px;
} #stork-ls .transfer-toolbar > div {
  padding: 0;
} #stork-ls .transfer-toolbar .btn,
  #stork-ls .transfer-toolbar select {
  height: 2.5em;
}

/* Bootstrap hacks */
.pagination {
  margin: 0;
}

.modal-backdrop {
  background: rgba(0, 0, 0, 0.2);
}

/* Special UI stuff for logged in users */
body.logged-out .logged-in {
  display: none;
} body.logged-in .logged-out {
  display: none;
} 

.modal.in {
  display: block;
}

/* For hiding uncompiled AngularJS elements */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak {
  display: none !important;
}

.wf-loading * {
  opacity: 0;
} .wf-active *, .wf-inactive * {
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.ng-animate {
  -webkit-transition: none;
  transition: none;
}

/* resize navbar header in extra small screen*/
.navbar .logged-in, .navbar-header button {
  font-size: 1em;
}

@media all and (max-width: 568px) {
  .navbar-header .logged-in, .navbar-header button {
     font-size: 0.6em;
  }
}
.search > div {
  position: relative;
}.search button, .search input {
  height: 3em;
  overflow-x: auto;
  overflow-y: auto;
}.search button {
  background: transparent;
}.search .buttons {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}.search {
  width: 30%;
  float: right;
  padding-right: 7em;
}

.adminBar {
  background: #333333;
  margin-top: 0;
  height: 100%;
  position: absolute;
  width: 12em;
}.adminFont a {
  color: #AAAAAA;
}.adminBar li a:hover {
  border-radius: 0.3em 0.3em 0.3em 0.3em ;
  background-color: #FFFF19;
  padding-left: 2em;
}.adminBar li a:focus {
  border-radius: 0.3em 0.3em 0.3em 0.3em ;
  background: #3333FF;
  padding-left: 2em;
}.adminFont h4 {
  color: #C0C0C0;
}.adminBar button {
  background: transparent;
}.adminBar form {
  padding-left: 1em;
  width: 80%;
}.adminBar li a {
  display: block;
  width: 13em;
  padding: 0.8em;
}.navbar .nav > .active > a,
 .navbar .nav > .active > a:hover,
 .navbar .nav > .active > a:focus {
  border-radius: 0.3em 0.3em 0.3em 0.3em ;
  padding-left: 2em;
}

@media screen and (max-width: 10000px) and (min-width: 4000px) {
 .adminBar li a {
   width: 70em;
  }
 .adminBar {
   width: 70em;
  }
}

@media screen and (max-width: 6000px) and (min-width: 4000px) {
 .adminBar li a {
   width: 53em;
  }
 .adminBar {
   width: 53em;
  }
}

@media screen and (max-width: 4000px) and (min-width: 3000px) {
 .adminBar li a {
   width: 36em;
  }
 .adminBar {
   width: 36em;
  }
}

@media screen and (max-width: 3000px) and (min-width: 2300px) {
 .adminBar li a {
   width: 26em;
  }
 .adminBar {
   width: 26em;
  }
}

@media screen and (max-width: 2300px) and (min-width: 1920px) {
 .adminBar li a {
   width: 23em;
  }
 .adminBar {
   width: 23em;
  }
}

@media screen and (max-width: 1920px) and (min-width: 1800px) {
 .adminBar li a {
   width: 22em;
  }
 .adminBar {
   width: 22em;
  }
}

@media screen and (max-width: 1800px) and (min-width: 770px) {
 .adminBar li a {
   width: 15em;
  }
 .adminBar {
   width: 15em;
  }
}

/** overwritten default navbar */
.navbar {
  padding: 15px 0;
}.headSpace {
  padding: 25px 0;
}

.panel-body .menu {
  font-weight: bold;
  padding: 0.2em;
}

.space {
 padding: 10px;
}

.whitespace {
  white-space: nowrap;
}

/*Ins Begin of ++ spu*/
.overlay { 
  color:#fff;
  position:absolute;
  z-index:20;
  top:1%;
  left:0;
  width:100%;
  text-align:center;
}
/*Ins End of ++ spu*/




